
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Gry Planszowe</h2>

        </div>
        <div class="col-6 text-end">
           <a asp-controller="Game" asp-action="Upsert" class="btn btn-secondary"><i class="bi bi-plus-lg"></i> &nbsp; DODAJ NOWĄ GRĘ</a>

        </div>
    </div>
</div>
<table class=" table table-bordered table-striped" style="width:100%">
    <thead>
        <tr class = "table-primary">
            <th>
                Nazwa:
            </th>
            <th>
                Opis:
            </th>
            <th>
                MinGraczy:
            </th>
            <th>
                MaxGraczy:
            </th>
            <th>
                Autorzy:
            </th>
            <th>
                Cena:
            </th>
            <th>
                Cena katalogowa:
            </th>
            <th>
                Cena przy zakupie 3 sztuk:
            </th>
            <th>
                Cena przy zakupie 10 sztuk:
            </th>
        </tr>
    </thead>


</table>


