<div class="row mt-5">
    <div class="col-md-6 offset-3 alert alert-success text-center ">
        <h2 class="text-white">Zamówienie złożone!</h2>
 <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-light">Ok!</a>
    </div>
</div>

