
@model Category
@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-action ="DeletePost">
    <input asp-for="Id" hidden/>
    <div class="p-3 mt-4 border">
        <div class="row pb-2">
            <h2 class = "text-primary ">USUŃ KATEGORIJĘ</h2>
            <hr/>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="form-label mt-4">Nazwa kategorii:</label>
            <input asp-for="Name" disabled class="form-control"/>
        </div>
        <div class="form-group mb-5">
            <label asp-for="DisplayOrder" class="form-label mt-4">Kolejność wyświetlania:</label>
            <input asp-for="DisplayOrder" disabled class="form-control"/>
        </div>
        <button type="submit" class="btn btn-danger">Usuń</button>
        <a asp-controller = "Category" asp-action="Index" class="btn btn-primary">Wstecz</a>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}




