@model Company
<form method="post" asp-action="Upsert" enctype ="multipart/form-data" class ="container-sm" style="max-width:50%;">
    <fieldset>
        <input hidden asp-for="Id"/>

    <div class="p-3 mt-4 border row">
        <div class="row pb-2">
            <h2 class = "text-primary "> @(Model.Id!=0?"EDYTUJ": "DODAJ")</h2>
            <hr/>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="form-label mt-4">Nazwa:</label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for ="Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
            <label asp-for="PhoneNumber" class="form-label mt-4">Numer telefonu:</label>
            <input asp-for="PhoneNumber" class="form-control"/>
            <span asp-validation-for ="PhoneNumber" class="text-danger"></span>
        </div>

                <div class="form-group mb-3 col-6">
            <label asp-for="City" class="form-label mt-4">Miasto::</label>
            <input asp-for="City" class="form-control"/>
            <span asp-validation-for ="City" class="text-danger"></span>
        </div>
        <div class="form-group mb-3 col-6">
            <label asp-for="StreetAddress" class="form-label mt-4">Adres cd:</label>
            <input asp-for="StreetAddress" class="form-control"/>
            <span asp-validation-for ="StreetAddress" class="text-danger"></span>
        </div>
         <div class="form-group mb-3 col-6">
            <label asp-for="PostalCode" class="form-label mt-4">Kod pocztowy:</label>
            <input asp-for="PostalCode" class="form-control"/>
            <span asp-validation-for ="PostalCode" class="text-danger"></span>
        </div>
                       
        <div class="col-12">
                @if (Model.Id != 0)
                {
                    <button type="submit" class="btn btn-primary">Edytuj</button>
                }
                else
                {
                    <button type="submit"  class="btn btn-primary">Dodaj</button>
                }
                
        <a asp-controller = "Company" asp-action="Index" class="btn btn-secondary">Wstecz</a>
        </div>
       

    </div>
    </fieldset>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
    }
